
.home-main{
    /* width: 100vw; */
    height: 100vh;
}


.home-card-container{
    display: flex;
    height: 36vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-body{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    background: rgb(255 255 255);
    margin: 38px;
    padding: 20px;
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    width: 271px;
    height: 123px;
    color: #9266eb;
    border-radius: 0 0 5px rgba(0, 0, 0, 0.2);
}

.float-left{
    float: left
}

.float-right{
    float: right
}

.card-body h3{
    margin-top: 15px;
    margin-bottom: 5px;

}

.currency, .count{
    font-size: 30px;
    font-weight: 500;
}

.card-body p{
    font-size: 16px;
    margin-top: 0;
}

.card-body i{
    font-size: 95px;
    opacity: 0.5;
}