.orders-form-container{
    padding: 46px;
    background-color: #fff;
    /* display: grid;
    align-content: space-between; */
    font-size: 1.2rem;
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
}

.orders-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
}

.add-orders-form{
    padding: 8px;
    width: 19rem;
    height: 36px;    
}

.render-orders-container{
    background-color: rgb(155, 70, 70);
    width: 50vw;
    height: 72vh;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
    font-size: 0.9rem;
    background-color: white;
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
}