
.sidebar{
    background: #2F323A;
    margin-top: 70px;
    padding-top: 30px;
     grid-column: 2/3;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: box-shadow;
}

.sidebar a:hover{
    box-shadow: inset 3px 0px 0px 0px #b895f0;
    color: #8c97f0;
}

.sidebar a span{
    padding-left: 10px;   
}

header button .sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 254px;
    transition: 0.5s;
    transition-property: color;
    font-size: 24px;
}

header button .sidebar_btn:hover{
    color: #4355d6;
}
  

.hidebar{
    left: -190px;
}

.hidebar a span{
    display: none; 
}

.hidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}


#check{
    display: none;
}