.orders-form-container{
    padding: 46px;
    background-color: #fff;
    width: 22vw;
    font-size: 1.2rem;
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
}

.orders-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
}

.add-orders-form{
    padding: 8px;
    width: 19rem;
    height: 36px;    
}

.render-orders-container{
    background-color: rgb(155, 70, 70);
    width: 50vw;
    height: 72vh;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
    font-size: 0.9rem;
    background-color: white;
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
}


.create-invoice-form input{  
    width: 82%;
    height: 100%;
    padding: 8px;
    background: rgb(248 248 251);
    border: 2px solid rgb(223, 223, 226);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    outline: none;
    border-color: rgb(161 144 194);
    margin-bottom: 10px;
    background-image:  linear-gradient(
        180deg,#fff,#f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    border-color: rgb(161 144 194);
}


.create-invoice-form input:hover{  
    border-color: rgb(3, 3, 3);
    transition: border-color 0.5s ease-in;
}

.create-invoice-form input:focus{  
    border-color:rgb(170, 168, 207);
    transition: border-color 0.5s ease;
 }

.invoice-custom-field{
    position: relative;
    font-size: inherit;
    padding-top: 20px;
    margin-bottom: 5px;
}

.invoice-custom-field .customer-invoice-placeholder{
   position: absolute;
   left: 12px;
   top: calc(43% + 10px);
   white-space: nowrap;
   transform: translateY(-34%);
   color: rgb(91, 111, 136);
   transition: 
       top 0.3s ease, 
       font-size 0.3s ease, 
       color 0.3s ease, 
}

.invoice-custom-field input:valid + .customer-invoice-placeholder,
.invoice-custom-field input:focus + .customer-invoice-placeholder{
  top: 20px;
  font-size: 11px;
  color: rgb(150, 137, 137);  
}


.create-invoice-form button{  
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 1px solid #1d1c1d4d;
    font-weight: 700;
    background: #a885e3;
    padding: 0 8px 1px;
    font-size: 13px;
    border-radius: 4px;
    color: #fff;
    height: 28px;
    min-width: 56px;
    transition: all 80ms linear;
    margin-right: 15px;
}

.create-invoice-form button:hover{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
    background: rgba(248,248,248,1);
    color:black;
    transition: all 0.5s ease-in-out;
}

.invoice-number-form{
    width: 100%;
    padding: 9px;
    height: 24%;
}

.customer-invoice-info{
    width: 82%;
    height: 100%;
    padding: 3px;
    background: rgb(248 248 251);
    border: 2px solid rgb(223, 223, 226);
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    text-align: center;
    color: #85828a;
    outline: none;
    border-color: rgb(161 144 194);
    margin-bottom: 10px;
    transition: all 0.3 ease-in;
}

.invoice-product-form-container{
    width: 100%;
    height: 69%;
}

.add-orders-form .order-name-input{  
    width: 93%;
    height: 80%;
    padding: 5px;
    background: rgb(248 248 251);
    border: 2px solid rgb(223, 223, 226);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    outline: none;
    border-color: rgb(161 144 194);
    margin-bottom: 10px;
    background-image:  linear-gradient(
        180deg,#fff,#f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    border-color: rgb(161 144 194);
    transition: border-color 0.5s ease-in;
}

.add-orders-form input:hover{  
    border-color: rgb(3, 3, 3);
    transition: border-color 0.5s ease-in;
}

.add-orders-form input:focus{  
    border-color:rgb(170, 168, 207);
    transition: border-color 0.5s ease;
 }

.order-product-custom-field{
    position: relative;
    font-size: inherit;
    padding-top: 20px;
    margin-bottom: 5px;
}

.order-product-custom-field .order-product-placeholder{
    position: absolute;
    left: 12px;
    top: calc(43% + 10px);
    white-space: nowrap;
    transform: translateY(-34%);
    color: rgb(91, 111, 136);
    transition: 
        top 0.3s ease, 
        font-size 0.3s ease, 
        color 0.3s ease, 
 }
 
 .order-product-custom-field input:valid + .order-product-placeholder,
 .order-product-custom-field input:focus + .order-product-placeholder{
   top: 20px;
   font-size: 11px;
   color: rgb(150, 137, 137);  
 }
 
 .order-price-container{
    width: 41%;
    height: 83%;
    padding: 3px;
    background: rgb(248 248 251);
    border: 2px solid rgb(223, 223, 226);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    color: #85828a;
    border-color: rgb(161 144 194);
    outline: none;
    margin-bottom: 10px;
    transition: all 0.3 ease-in;
 }

 .order-quantity-container h6{
    margin-bottom: 5px;
    color:#9887b3;
    text-transform: uppercase;
}

.order-quantity-container input{
    width: 33%;
    height: 90%;
    padding: 6px;
    background: rgb(248 248 251);
    border: 2px solid rgb(223, 223, 226);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    outline: none;
    border-color: rgb(161 144 194);
    margin-bottom: 10px;
    background-image:  linear-gradient(
        180deg,#fff,#f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
}
/* 
.order-quantity-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
} */

.order-available-quan{  
    width: 89%;
    height: 76%;
    padding: 4px;
    background: rgb(248 248 251);
    border: 2px solid rgb(223, 223, 226);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    color: #85828a;
    outline: none;
    border-color: rgb(161 144 194);
    margin-bottom: 10px;
    transition: all 0.3 ease-in;
}

.total-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-container h6{
    margin-bottom: 5px;
    color:#9887b3;
    text-transform: uppercase;
}

.total-total{
    width: 208%;
    height: 76%;
    padding: 4px;
    background: rgb(248 248 251);
    border: 2px solid rgb(223, 223, 226);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    color: #85828a;
    outline: none;
    border-color: rgb(161 144 194);
    margin-bottom: 10px;
    transition: all 0.3 ease-in;
}

.available-container{
    margin-right: 156px;
    margin-bottom: 1px;
}

.form-btn-container{
    display: flex;
    /* margin-top: 66%; */
}

.orders-table-container{
    height: 87%;
}

.invoice-button-container{
    display: flex;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
}

.total-render{
    width: 20%;
    height: 83%;
    padding: 3px;
    background: rgb(248 248 251);
    border: 2px solid rgb(223, 223, 226);
    font-family: inherit;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    color: #85828a;
    outline: none;
    border-color: rgb(161 144 194);
    margin-bottom: 10px;
    transition: all 0.3 ease-in;
}

.invoice-button-container div button{  
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 1px solid #1d1c1d4d;
    font-weight: 700;
    background: #a885e3;
    padding: 0 8px 1px;
    font-size: 13px;
    border-radius: 4px;
    color: #fff;
    height: 28px;
    min-width: 56px;
    transition: all 80ms linear;
    margin-right: 15px;
}

.invoice-button-container div button:hover{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
    background: rgba(248,248,248,1);
    color:black;
    transition: all 0.5s ease-in-out;
}

.form-btn-container button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 1px solid #1d1c1d4d;
    font-weight: 700;
    background: #a885e3;
    padding: 0 8px 1px;
    font-size: 13px;
    border-radius: 4px;
    color: #fff;
    height: 28px;
    min-width: 56px;
    transition: all 80ms linear;
    margin-right: 15px;
}

.form-btn-container button:hover{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
    background: rgba(248,248,248,1);
    color:black;
    transition: all 0.5s ease-in-out;
}